.banner {
    background-color: rgba(0, 119, 255, 0.633);
    color: rgba(240, 255, 248, 0.71);
}

.botão1 {
    background-color: beige important;
    color: important;
    margin-right: 16px important;
    
}
