.caixa {
    background-color: rgba(0, 119, 255, 0.633);
}

.titulo{
    color: color white !important;
         font-weight: bold !important;
}

.botão1 {
     border-color: white !important;
     background-color: #3F51B5;
      color: white !important;

}
.postagens{
    background-color: white;
}